.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel, .carousel-inner, .carousel-item {
  height: 100%;
}

.image-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; /* 可選：背景色，當圖片有透明部分時顯示 */
}

.carousel-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; /* 保持圖片比例，完整顯示圖片 */
  margin: 0 auto;
}