@font-face {
  font-family: '仿宋體'; /* 自己取的名字 */
  src: url('./assets/fonts/ZhuqueFangsong-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  html, body {
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    height: 100%;
    margin: 0;
    
  background-color: #f5f5f5; /* 你可以換成你要的顏色 */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
    url('/backgound.jpeg'); /* 如果想用圖片 */
  background-size: cover; /* 圖片鋪滿 */
  background-repeat: no-repeat;
  background-attachment: fixed; /* 固定背景 */
  }
  
  .app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-main {
    flex: 1;
  }
  