@font-face {
  font-family: '仿宋體'; /* 自己取的名字 */
  src: url('./assets/fonts/ZhuqueFangsong-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  html, body {
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    height: 100%;
    margin: 0;
  }
  
  .app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-main {
    flex: 1;
  }
  